.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #121212;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  max-width: 100%;
  word-wrap: break-word;
}

.title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.description {
  color: #cccccc;
  max-width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  padding: 12px 25px;
  background-color: #ff004f;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease ;
}

.button:hover {
  background-color: #e60045;
  transform: scale(1.05);
}
